@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: repeating-linear-gradient(
        -45deg,
        #97D2FB 0px,
        #97D2FB 10px,
        #ECCBD9 10px,
        #ECCBD9 20px
    );
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

input {
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px rgba(0, 0, 0, .2);
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    
}